<!-- <section class="contact-us">
    <div class="container text-center">
      <h2>Contact Us</h2>
      <p>
        Office No. 310, 8th floor, Antariksh Towers, Narpatgiri Chowk, Pune 411001
      </p>
      <p>
        Phone: <a mat-button href="tel:+919561222557">+91 95612 22557</a> /
        <a mat-button href="tel:+919158916820">91589 16820</a>
      </p>
    </div>
  </section>

  <section class="quick-link">
    <div class="container text-center">
      <h2>Quick Link</h2>
      <div class="container">
        <nav>
            <ul>
          <li><a mat-button routerLink="/home">Home</a></li>
          <li><a mat-button routerLink="/about-doctor">About Doctor</a></li>
          <li><a mat-button routerLink="/services">Services</a></li>
          <li><a mat-button routerLink="/gallery">Gallery</a></li>
          <li><a mat-button routerLink="/contact-us">Contact Us</a></li>
          
        </ul>
        </nav>
      </div>
      </div>
  </section> -->


  <div class="footer">
    <div>
      <h6>Quick Link</h6>
      <p><a href="/home">Home</a> | <a href="/about-doctor">About Doctor</a> | <a href="/services">Services</a> | <a href="/contact-us">Contact</a> | <a href="/gallery">Gallery</a></p>
    </div>
    <div>
      <h6>Contact Us</h6>
      <p>Office No. 310, Eighth floor, Antriksh Towers, Pune 411001</p>
      <p>+91 95612 22557 / 91859 16820</p>
    </div>
  </div>