<mat-toolbar> 
  <img src="assets/logo.png"/>
<div class="container">
  <nav>
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/about-doctor">About Doctor</a>
    <a mat-button routerLink="/service">Services</a>
    <a mat-button routerLink="/gallery">Gallery</a>
    <a mat-button routerLink="/contact-us">Contact Us</a>
  </nav>
</div>
  <!-- <nav>
    <div class="container">
      <img src="assets/logo.png" width=100 height=100/>
      <a class="navbar-brand" href="/">Cardio Health Clinic        
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ms-auto mb-5 mb-lg"> 
          <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/about-doctor">About Doctor</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/service">Services</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/gallery">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav> -->

  
</mat-toolbar>
<section class="welcome-section">
  <h1>Welcome to <span class="highlight-title"> CardioHealth clinic </span> </h1>
  <h4> <span class="subtitle">Best Cardiologist in Pune -</span> <span class="name">&nbsp;Dr. Vishal Patil</span></h4>
  
  <img class="welcome" src="assets/wedoc.jpg">
  <h5>Dr. Vishal Patil is a highly skilled and academically oriented cardiologist. He is known for his humane approach,
    kind and friendly demeanor and his knack of explaining complex medical terms in a simple and
    lucid manner. He is a master at making patients feel at ease, allay their fears and is always eager 
    to offer his helping hand. He is soft spoken, down to earth and easily approachable.</h5>
</section>
<section class="info-container">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <div class="card-img">
          <img class="consultation-time" src="assets/Consultation Time.png">
        </div>
        <div class="card-text">
          <h1>
            Consultation Time
          </h1>
          <h4>7:00 AM to 9:00 PM</h4>
        </div>
        <div class="button-row">
          <button mat-button>Read More..</button>
        </div>
      </mat-card>
    </div>


    <div class="col-4">
      <mat-card>
        <div class="card-img">
          <img class="contact-mail" src="assets/contact-mail.png">
        </div>
        <div class="card-text">
          <h1>
            Contact Us
          </h1>
         <h4> +919657651926</h4>
        </div>
        <div class="button-row">
          <button mat-button>Read More..</button>
        </div>
      </mat-card>
    </div>


    <div class="col-4">
      <mat-card class="mat-elevation-z12">
               <div class="card-img">
          <img class="appointment-book" src="assets/appointment-book.png">
        </div>
        <div class="card-text">
          <h1>
            Consultation Time
          </h1>
          <h4>Book your appointment </h4>
        </div>
        <div class="button-row">
          <button mat-button>Read More..</button>
        </div>
      </mat-card>
    </div>
  </div>


</section>



<section class="our-service">
  <h1> <span class="highlight-title"> Our Services </span> </h1>
<div class="row">
  <div class="col-4">
<mat-card class="service-card">
   <div class="service-text">
    <mat-card-title>2D Echo & Colour Droppler</mat-card-title>
    <img mat-card-image src="assets/2D Echo & Colour Droppler.jpg" alt="Photo of a Shiba Inu">
  </div>
</mat-card>
</div>

<div class="col-4">
  <mat-card class="service-card">
    
     <div class="service-text">
      <mat-card-title>Stress Test</mat-card-title>
      <img mat-card-image src="assets/Stress Test.jpg" alt="Photo of a Shiba Inu">
    </div>
 
  </mat-card>
  </div>

  <div class="col-4">
    <mat-card class="service-card">

       <div class="service-text">
        <mat-card-title>Holter Monitoring</mat-card-title>
        <img mat-card-image src="assets/Holter Monitoring (2).jpg" alt="Photo of a Shiba Inu">
      </div>
    </mat-card>
    </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col-4">
<mat-card class="service-card">
 
   <div class="service-text">
    <mat-card-title>Electrocardiogram</mat-card-title>
    <img mat-card-image src="assets/Electrocardiogram.jpg" alt="Photo of a Shiba Inu">
  </div>

</mat-card>
</div>

<div class="col-4">
  <mat-card class="service-card" >
  
     <div class="service-text">
      <mat-card-title>Angiography</mat-card-title>
      <img mat-card-image src="assets/Angiography.jpg" alt="Photo of a Shiba Inu">
    </div>

  </mat-card>
  </div>

  <div class="col-4">
    <mat-card class="service-card" >
     
       <div class="service-text">
        <mat-card-title>Pacemaker</mat-card-title>
        <img mat-card-image src="assets/Pacemaker.jpg" alt="Photo of a Shiba Inu">
      </div>
  
    </mat-card>
    </div>
    
<div class="button-row" style="margin-top: 20px;">
  <button mat-button>Read More..</button>
</div>
</div>
</section>
  

  <section class="contact-us py-5 bg-light">
    <div class="container text-center">
      <h2>Contact Us</h2>
      <p>Office No. 310, 8th floor, Antariksh Towers, Narpatgiri Chowk, Pune 411001</p>
      <p>
        Phone: <a mat-button href="tel:+919561222557">+91 95612 22557</a>
        / <a mat-button href="tel:+919158916820">91589 16820</a>
      </p>
    </div>
  </section>
  