mat-toolbar {
    height: 100px;
    padding: 0px 20px;
    background: white;
    border-bottom: 8px solid #004681;
    img {
        width: 100px;
    height: auto;
    }
}
.welcome-section {
    padding: 50px 10%;
    height: 350px;
    border-top:4px solid #ed232a ;
    border-bottom: 8px solid #004681;
    position: relative;

    h1 {
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 300;
       .highlight-title {
        font-weight: 800;
        color: #004681;
       }
       
    }
    h4 {
        font-size: 24px;
        .subtitle {
            font-weight: 300;
    color: #004681;
}
.name {
    color: #ed232a;
}
        
    }
    img {
        height: 240px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
}

.info-container {
    border-top:4px solid #ed232a ;
    padding: 50px 10%;
    mat-card {
        background-color: white;
        height: 250px;
        mat-card-header {
            font-size: 18px;
        }
    }

}