<section class="gallery">

<h1>Hospital Gallery</h1>




    <mat-card class="img_card">
        <div class="row-4">
            <div class="col">
        <div class="img">

            <!-- <img src="assets/Gallery.jpg" alt=""> -->
            <img src="assets/Gallery1.jpg" alt="">
            <img src="assets/Gallery2.jpg" alt="">
            <img src="assets/Gallery3.jpg" alt="">
<img src="assets/Gallery4.jpg" alt="">
<img src="assets/Gallery5.jpg" alt="">
<img src="assets/Gallery6.jpg" alt="">
<img src="assets/Gallery7.jpg" alt="">
<img src="assets/Gallery8.jpg" alt="">
<img src="assets/Gallery9.jpg" alt="">
<img src="assets/Gallery10.jpg" alt="">
<img src="assets/Gallery11.jpg" alt="">
<img src="assets/Gallery12.jpg" alt="">
<img src="assets/Gallery13.jpg" alt="">
<img src="assets/Gallery14.jpg" alt="">
<img src="assets/Gallery15.jpg" alt="">
<img src="assets/Gallery16.jpg" alt="">
<img src="assets/Gallery17.jpg" alt="">
<img src="assets/Gallery18.jpg" alt="">
<img src="assets/Gallery19.jpg" alt="">
<img src="assets/Gallery20.jpg" alt="">
<img src="assets/Gallery21.jpg" alt="">
<img src="assets/Gallery22.jpg" alt="">
<img src="assets/Gallery23.jpg" alt="">
<img src="assets/Gallery24.jpg" alt="">
        </div>
            </div>
        </div>
    </mat-card>





</section>