<section>
    <div class="contact-container">
      <div class="form-container">
        <h5>Write Us</h5>
        <form>
          <input type="text" placeholder="First Name" required>
          <input type="text" placeholder="Last Name" required>
          <input type="email" placeholder="Email" required>
          <input type="text" placeholder="Phone Number" required>
          <textarea placeholder="Comment or Message" required></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="contact-info">
        <h5>Contact Us</h5>
        <p>Office No. 310, Eighth floor, Antriksh Towers, Narpatgiri Chowk, Station Road, Near old Zilla Parishad, Pune 411001</p>
        <p>+91 95612 22557 / 91859 16820</p>
      </div>
    </div>
  </section>