
  
  <section class="welcome-section">
    <h1>Welcome to <span class="highlight-title"> CardioHealth clinic </span></h1>
    <h4>
      <span class="subtitle">Best Cardiologist in Pune -</span>
      <span class="name">&nbsp;Dr. Vishal Patil</span>
    </h4>
  
    <img class="welcome" src="assets/dr-vishal2-Photoroom.png" />
    <h5>
      Dr. Vishal Patil is a highly skilled and academically oriented cardiologist.
      He is known for his humane approach, kind and friendly demeanor and his
      knack of explaining complex medical terms in a simple and lucid manner. He
      is a master at making patients feel at ease, allay their fears and is always
      eager to offer his helping hand. He is soft spoken, down to earth and easily
      approachable.
    </h5>
  </section>
  <section class="info-container">
    <div class="row">
      <div class="col-4">
        <mat-card>
          <div class="card-img">
            <img class="consultation-time" src="assets/Consultation Time.png" />
          </div>
          <div class="card-text">
            <h1>Consultation Time</h1>
            <h4>7:00 AM to 9:00 PM</h4>
          </div>
          <div class="button-row">
            <button mat-flat-button>Read More..</button>
          </div>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card>
          <div class="card-img">
            <img class="contact-mail" src="assets/contact-mail.png" />
          </div>
          <div class="card-text">
            <h1>Contact Us</h1>
            <h4>+919657651926</h4>
          </div>
          <div class="button-row">
            <button mat-flat-button>Read More..</button>
          </div>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card class="mat-elevation-z12">
          <div class="card-img">
            <img class="appointment-book" src="assets/appointment-book.png" />
          </div>
          <div class="card-text">
            <h1>Consultation Time</h1>
            <h4>Book your appointment</h4>
          </div>
          <div class="button-row">
            <button mat-flat-button>Read More..</button>
          </div>
        </mat-card>
      </div>
    </div>
  </section>
  
  <!-- <section class="our-service">
    <div class="service-text">
      <h1>2D Echo & Colour Droppler</h1>
    </div>
    <div class="image1" >
      <img src="assets/2D Echo & Colour Droppler.jpg" />
    </div>
  </section> -->
  
  <section class="our-service">
    <h1> <span class="highlight-title"> Our Services </span> </h1>
  <div class="row">
    <div class="col-4">
  <mat-card class="service-card">
     <div class="service-text">
      <mat-card-title>2D Echo & Colour Droppler</mat-card-title>
      <img mat-card-image src="assets/2D Echo & Colour Droppler.jpg" >
    </div>
  </mat-card>
  </div>
  
  <div class="col-4">
    <mat-card class="service-card">
      
       <div class="service-text">
        <mat-card-title>Stress Test</mat-card-title>
        <img mat-card-image src="assets/Stress Test.jpg" >
      </div>
   
    </mat-card>
    </div>
  
    <div class="col-4">
      <mat-card class="service-card">
  
         <div class="service-text">
          <mat-card-title>Holter Monitoring</mat-card-title>
          <img mat-card-image src="assets/Holter Monitoring (2).jpg" >
        </div>
      </mat-card>
      </div>
  </div>
  
  <div class="row" style="margin-top: 30px;">
    <div class="col-4">
  <mat-card class="service-card">
   
     <div class="service-text">
      <mat-card-title>Electrocardiogram</mat-card-title>
      <img mat-card-image src="assets/Electrocardiogram.jpg" >
    </div>
  
  </mat-card>
  </div>
  
  <div class="col-4">
    <mat-card class="service-card" >
    
       <div class="service-text">
        <mat-card-title>Angiography</mat-card-title>
        <img mat-card-image src="assets/Angiography.jpg">
      </div>
  
    </mat-card>
    </div>
  
    <div class="col-4">
      <mat-card class="service-card" >
       
         <div class="service-text">
          <mat-card-title>Pacemaker</mat-card-title>
          <img mat-card-image src="assets/Pacemaker.jpg" >
        </div>
    
      </mat-card>
      </div>
      
  <div class="button-row" style="margin-top: 20px;">
    <button mat-flat-button>Read More..</button>
  </div>
  </div>
  </section>
    
