
  
  <section class="welcome-section">
    <h1>Welcome to <span class="highlight-title"> CardioHealth clinic </span></h1>
    <h4>
      <span class="subtitle">Best Cardiologist in Pune -</span>
      <span class="name">&nbsp;Dr. Vishal Patil</span>
    </h4>
  
    <img class="welcome" src="assets/dr-vishal2-Photoroom.png" />
    <h5 class="about-text">
        At <span class="highlight">Cardio Health Clinic</span>, we are committed to providing 
        <span class="highlight">exceptional cardiac care</span> under the expertise of 
        <span class="highlight">Dr. Vishal Patil</span>, a highly skilled and academically 
        accomplished cardiologist. With a <span class="highlight">compassionate approach</span>, 
        he ensures patients feel comfortable and well-informed about their 
        <span class="highlight">heart health</span>.  
        Dr. Patil completed his <span class="highlight">MBBS</span> from 
        <span class="highlight">Krishna Institute of Medical Sciences</span>, 
        <span class="highlight">MD</span> from <span class="highlight">BJ Government Medical College, Pune</span>, 
        and <span class="highlight">DM in Cardiology</span> from 
        <span class="highlight">Grant Government Medical College, Mumbai</span>. 
        With vast experience in managing <span class="highlight">adult and pediatric cardiac disorders</span>, 
        he brings excellence in <span class="highlight">diagnosis and treatment</span>.  
        Equipped with an <span class="highlight">advanced GE Echocardiography Machine</span>, 
        our clinic offers <span class="highlight">precise imaging</span> and 
        <span class="highlight">expert cardiac care</span>. Dr. Patil’s dedication to 
        <span class="highlight">heart health</span> extends beyond the clinic, as he actively 
        participates in <span class="highlight">corporate talks, conferences, and research presentations</span>.  
        <span class="subtitle"><span class="highlight">Your heart’s health is our priority!</span></span>  
    </h5>
    

    
  </section>
  <section class="info-container">
    <div class="row">
      <div class="col-4">
        <mat-card>
          <div class="card-img">
            <img class="consultation-time" src="assets/Consultation Time.png" />
          </div>
          <div class="card-text">
            <h1>Consultation Time</h1>
            <h4>7:00 AM to 9:00 PM</h4>
          </div>
          <div class="button-row">
            <button mat-flat-button>Read More..</button>
          </div>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card>
          <div class="card-img">
            <img class="contact-mail" src="assets/contact-mail.png" />
          </div>
          <div class="card-text">
            <h1>Contact Us</h1>
            <h4>+919657651926</h4>
          </div>
          <div class="button-row">
            <button mat-flat-button>Read More..</button>
          </div>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card class="mat-elevation-z12">
          <div class="card-img">
            <img class="appointment-book" src="assets/appointment-book.png" />
          </div>
          <div class="card-text">
            <h1>Consultation Time</h1>
            <h4>Book your appointment</h4>
          </div>
          <div class="button-row">
            <button mat-flat-button>Read More..</button>
          </div>
        </mat-card>
      </div>
    </div>
  </section>
  
  <!-- <section class="our-service">
    <div class="service-text">
      <h1>2D Echo & Colour Droppler</h1>
    </div>
    <div class="image1" >
      <img src="assets/2D Echo & Colour Droppler.jpg" />
    </div>
  </section> -->
  
  <section class="our-service">
    <h1> <span class="highlight-title"> Our Services </span> </h1>
  <div class="row">
    <div class="col-4">
  <mat-card class="service-card">
     <div class="service-text">
      <mat-card-title>2D Echo & Colour Droppler</mat-card-title>
      <img mat-card-image src="assets/2D Echo & Colour Droppler.jpg" >
    </div>
  </mat-card>
  </div>
  
  <div class="col-4">
    <mat-card class="service-card">
      
       <div class="service-text">
        <mat-card-title>Stress Test</mat-card-title>
        <img mat-card-image src="assets/Stress Test.jpg" >
      </div>
   
    </mat-card>
    </div>
  
    <div class="col-4">
      <mat-card class="service-card">
  
         <div class="service-text">
          <mat-card-title>Holter Monitoring</mat-card-title>
          <img mat-card-image src="assets/Holter Monitoring (2).jpg" >
        </div>
      </mat-card>
      </div>
  </div>
  
  <div class="row" style="margin-top: 30px;">
    <div class="col-4">
  <mat-card class="service-card">
   
     <div class="service-text">
      <mat-card-title>Electrocardiogram</mat-card-title>
      <img mat-card-image src="assets/Electrocardiogram.jpg" >
    </div>
  
  </mat-card>
  </div>
  
  <div class="col-4">
    <mat-card class="service-card" >
    
       <div class="service-text">
        <mat-card-title>Angiography</mat-card-title>
        <img mat-card-image src="assets/Angiography.jpg">
      </div>
  
    </mat-card>
    </div>
  
    <div class="col-4">
      <mat-card class="service-card" >
       
         <div class="service-text">
          <mat-card-title>Pacemaker</mat-card-title>
          <img mat-card-image src="assets/Pacemaker.jpg" >
        </div>
    
      </mat-card>
      </div>
      
  <div class="button-row" style="margin-top: 20px;">
    <a mat-flat-button routerLink="../services">Read More</a>
  </div>
  </div>
  </section>
    
