<section class="about-doctor">
<div class="ab-text">
    <h1><span class="highlight-title"> Best Cardiologist In Pune - Dr. Vishal Patil </span></h1>
    <h5>
      <p>Dr. Vishal Patil is a highly skilled and academically oriented cardiologist. He is known for his humane approach, kind and friendly demeanor and his knack of explaining complex medical terms in a simple and lucid manner. He is a master at making patients feel at ease, allay their fears and is always eager to offer his helping hand. He is soft spoken, down to earth and easily approachable. </p>
      <p>He has a robust academic record. He did his MBBS from Krishna Institute of Medical Sciences, Karad. During his MBBS, he holds distinction in Pharmacology and Microbiology and had always been among meritorious students did his MD from BJ Government Medical College, Pune and did his DM in Cardiology from Grant Government Medical College and Sir J.J. Group of Hospitals, Mumbai. After completing his super speciality degree in Cardiology, He worked as Assistant Professor in the department of Cardiology in Grant Government Medical College and Sir JJ Group of Hospitals.</p>
      <p>Having been at the forefront of diagnosing and managing both adult and pediatric cardiac disorders in JJ Hospital, he is equally comfortable with both the patient subsets. Cardio Health Clinic therefore has both pediatric and adult echo capabilities with superb imaging of the heart, thanks to advanced GE Echocardiography Machine.  He has given many talks in the corporate offices, attended many conferences and presented various scientific papers in various conferences.</p>
    </h5>

<div class="image-slider">
  <ng-image-slider
    #nav
    [images]="imageObject"
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{ width:500, height: 500, 'margin-right': '' }"
    [slideImage]="1" 
   
    
  ></ng-image-slider>
</div>
</div>





  <!-- <section class="service">
    <h1> <span class="highlight-title"> Our Services </span> </h1>
    <div class="row">
      <div class="col-6">
        <mat-card>
          <div class="card-text">
            <ul>
                <li>Stress Test (Treadmill Test, TMT)</li>
                <li>2 D Echocardiography and Colour Doppler (2D Echo)</li>
                <li>Paediatric Echocardiography</li>
                <li>Neonatal Echocardiography</li>
                <li>Strain Imaging</li>
                <li>Dobutamine Stress Echo</li>
                <li>ECG</li>
                <li>Holter Monitoring</li>
            </ul>
          </div>
        </mat-card>
      </div>
  
      <div class="col-6">
        <mat-card>
          <div class="card-text">
            <ul>
                <li>Pre- operative Cardiac Fitness</li>
                <li>Rhythm Clinic</li>
                <li>Cardiac Fitness Check-up</li>
                <li>Angiography</li>
                <li>Angioplasty</li>
                <li>Pacemaker Implantation</li>
                <li>Balloon Valvotomies</li>
                <li>Ambulatory Blood Pressure Monitoring (ABPM)</li>
            </ul>
          </div>
        </mat-card>
      </div>
      </div> -->
      </section>

  