.about-doctor
{
  padding: 10px 10%;
    border-top:4px solid #ed232a ;
    position: relative;
    font-family: "Poppins", Sans-serif;
    .ab-text{
      
        font-size: 45px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
       .highlight-title {
        font-weight: 700;
        color: #004681;
        font-family: "Poppins", Sans-serif;
    }

    h5 
    {
      padding: 2%;
      text-align: justify;
      font-size: 16px;
      margin-left: 500px;
      width: 500px;
      color: #004680;
      text-transform: none;
  
    }

  }


  .image-slider
  {
    height: 500px;
    width: 500px;
    margin-right: 400px;
    margin-top: -558px;
  }

}