.our-service{
    
    // padding: 10px 10%;
     text-align: center;
    // font-weight: 300;
    // color: #004681;
    padding: 10px 10%;
    color: #004681;
    border-top:4px solid #ed232a ;
    border-bottom: 8px solid #004681;
    position: relative;
    font-family: "Poppins", Sans-serif;

    h1 {
        margin-bottom: 60px;
        font-weight: 800;
        text-transform: uppercase;
    }
        mat-card.service-card
        
        {
            background-color: transparent;
            border-radius: 10px;
            background-image: linear-gradient(rgba(0, 70, 128, 0.13) 0%, rgba(236, 27, 35, 0.1) 100%);
            border: none;
            box-shadow: none;
             height: auto;;
            
            .service-text{
                padding: 2%;
                color: #ed232a;
                    height: 100%;
                    font-family: "Poppins", Sans-serif;
                    text-align: center;
                    mat-card-title {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                img{
                    margin-top: 10px;
                    width: 100%;
                    height: 200px;

                }
                .button-row
                {
                    background-color: #004681;
                }

                h2 
                {
                    padding: 3%;
                    text-align:-webkit-center;
                    font-size: 15px;
                    color: #004681;
                }

        }

    }